<footer>
    <div class="container">
        <p>&copy; 2025 Kambez Saidi. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/kambezsaidi" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/kambez-saidi" target="_blank">LinkedIn</a>
            <a href="mailto:kambez.saidi@outlook.com">Email</a>
        </div>
    </div>
</footer>
</body>
</html>