<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kambez Saidi - Certificates</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <a href="/"><img src="/images/logo.png" alt="Kambez Saidi Logo"></a>
    </div>

    <!-- Burger menu for mobile -->
    <div class="burger" id="burger">
      ☰
    </div>

    <nav id="navLinks">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="/experiences">Experiences</a>
          <div class="dropdown-content">
            <a href="/experiences/siak-cars">Sales and Business Analyst</a>
            <a href="/experiences/ukhsa">Senior Scientist</a>
            <a href="/experiences/intuit">Software Engineer</a>
            <a href="/experiences/optima-health">QA/QC Officer</a>
            <a href="/experiences/minor-weir-willis">Health Technician</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/expertise">Expertise</a>
          <div class="dropdown-content">
            <a href="/expertise/data-analyst">Data Analyst</a>
            <a href="/expertise/data-engineer">Data Engineer</a>
            <a href="/expertise/data-scientist">Data Scientist</a>
            <a href="/expertise/software-developer">Software Developer</a>
          </div>
        </li>
        <li><a href="/certificates">Certificates</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>