<header class="main-header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>

            <li class="dropdown">
                <a href="#">Experiences ▾</a>
                <ul class="dropdown-content">
                    <li><a href="/sisk-cars">Sales and Business Analyst</a></li>
                    <li><a href="/ukhsa">Senior Scientist & Lab Skills Assessor</a></li>
                    <li><a href="/software-developer">Software Engineer</a></li>
                    <li><a href="/optima-health">QA/QC Officer</a></li>
                    <li><a href="/minor-weir-wills">Occupational Health Technician</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Expertise ▾</a>
                <ul class="dropdown-content">
                    <li><a href="/data-engineer">Data Engineer</a></li>
                    <li><a href="/expertise">Business Analyst</a></li>
                </ul>
            </li>

            <li><a href="/certificates">Certificates</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
