<html lang="en">
<%- include('partials/header', { title: 'Kambez Saidi - Certificates' }) %>
<body class="certificates">
<main class="container">
    <div class="container">
        <section>
        <header>
            <h1>Kambez Saidi - Certificates</h1>
        </header>
    <h1 class="page-title">Certificates</h1>

    <div class="certificate-grid">
                <div class="certificate-item">
            <img src="/images/certificates/software-developer.jpg" alt="Software Developer" onclick="openModal(this)">
            <p>Software Developer</p>
        </div>
        <div class="certificate-item">
            <img src="/images/certificates/data-analysis.jpg" alt="Data Analysis" onclick="openModal(this)">
            <p>Data Analysis</p>
        </div>
        <div class="certificate-item">
            <img src="/images/certificates/data-engineering.jpg" alt="Data Engineering" onclick="openModal(this)">
            <p>Data Engineering</p>
        </div>
        <div class="certificate-item">
            <img src="/images/certificates/python.jpg" alt="Python" onclick="openModal(this)">
            <p>Python</p>
        </div>
        <div class="certificate-item">
            <img src="/images/certificates/sql.jpg" alt="SQL" onclick="openModal(this)">
            <p>SQL</p>
        </div>
                <div class="certificate-item">
            <img src="/images/certificates/Biochemistry.jpg" alt="Biochemsitry" onclick="openModal(this)">
            <p>Biochemsitry</p>
            <p>I graduated with honours in Biochemistry, completing my dissertation in Bioinformatics. My Project involved analysing around 30 different DNA sequences from antibiotic resistant bacteria producing the Beta-lactam antibiotics. Using python, I developed an algorithm to process and classify the DNA sequences. BLAST (Nasic Local Alignment Search Tool) to compare them with known seqwuences in genetic databases and identify similarities and used Jalview to visualise sequences alignments and generate phylogenetic trees, helping to determine evolutionary relationships between the samples. This approach allowed me to classify the DNA and better understand their genetic relationship to known antibiotics resitance genes.</p>
        </div>
        </section>
    </div>
</main>

<!-- Modal -->
<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-container">
        <img class="modal-content" id="modalImage">
        <div id="caption" class="modal-caption"></div>
    </div>
</div>

<%- include('partials/footer') %>

<script src="/js/script.js"></script>
</body>
</html>
