<html lang="en">
    <%- include('partials/header', { title: 'Kambez Saidi - Data Analyst' }) %>

<body class="data-analyst">

    <div class="container">
        <section>
        <header>
           <h1>Kambez Saidi - Expertise</h1>
        </header>
            <h1>Data Analyst</h1>
            <h2>Job Description & Achievements</h2>
            <ul class="role-list">
                <li>Extracted insights from complex datasets to guide business decisions.</li>
                <li>Developed automated Excel and PowerBI reports, saving 15+ hours per week.</li>
                <li>Performed statistical analysis to identify sales and market trends.</li>
                <li>Designed visualizations to present KPIs clearly to stakeholders.</li>
                <li>Cleaned and transformed raw data for accurate reporting.</li>
            </ul>

            <h2>Skills Learned</h2>
            <ul class="role-list">
                <li>Data visualization with PowerBI & Excel</li>
                <li>SQL querying and report automation</li>
                <li>Statistical analysis</li>
                <li>Data cleaning and transformation</li>
                <li>Stakeholder reporting</li>
            </ul>
                <!-- Gallery -->
            <div class="gallery-grid">
                <div class="gallery-item">
                    <img src="/images/forecast-and-top-managers.jpg" alt="Forecast and Top Managers" onclick="openModal(this)">
                    <p>Forecast and Top Managers. The forecase shows where the most sales has been carried based on the post code. The Sales Total by date shows when the sales increases have been made and where it has dropped. This trends can be further looked at to see what had influenced the increase in sales. Top Sales made by Managers is also another area where the managers can share their success which can be a learning process for other stores.</p>
                </div>
                <div class="gallery-item">
                    <img src="/images/businessSummary.jpg" alt="Business Summary Dashboard" onclick="openModal(this)">
                    <p>Business summary dashboard in PowerBI. Demonstrating the Anuual sales and profits, the category that the most sales were made as well as the least</p>
                </div>
                <div class="gallery-item">
                    <img src="/images/non-contract spend.jpg" alt="Non-Contract Spend" onclick="openModal(this)">
                    <p>Non-contract spending analysis. Demonstrating that NHS has more non-contract spending when Contracts are available</p>
                </div>
        </section>
    </div>
<script src="/js/script.js"></script>
    <%- include('partials/footer') %>
</body>
</body>
</html>
